body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.map-overlay {
    background: #fff;
    border: 2px solid #000;
    border-radius: 4px;
    margin: 20px;
}

#controls {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
    width: 300px;
}
#controls #control-buttons {
    display: block;
    margin: auto;
    padding: 10px;
}
#controls .btn {
    background: #eeeeee;
}
#controls .btn:focus {
  outline: none;
}
#controls #timeSlider {
    display: block;
    width: 95%;
    margin: auto;
    padding: 6px;
}

#legend {
    font-family: Arial, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
}
#legend li {
    list-style: none;
    margin-left: 0;
    line-height: 20px;
    margin-bottom: 10px;
}
#legend .swatch {
    display: block;
    float: left;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    margin-left: 0;
    border: 1px solid #999;
}

/* Info box showing selected FDRA number */
#info-box {
    bottom: 30px;
    padding: 10px;
    position: absolute;
    left: 30px;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}