body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#legend {
    font-family: Arial, sans-serif;
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    margin: 20px;
    border: 2px solid #000;
}
#legend li {
    list-style: none;
    margin-left: 0;
    line-height: 20px;
    margin-bottom: 10px;
}
#legend .swatch {
    display: block;
    float: left;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    margin-left: 0;
    border: 1px solid #999;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display: block;}
